---
import Layout from "../../layouts/layout.astro";
---

<Layout>
    <div id="developer" class="vh-100 p-5">
        <h1>Roadmap Cyberseguridad</h1>
    </div>
</Layout>

<style>
      h1 {
        font-size: 2em;
    }
    #developer {
        margin-top: 20px;
    }
</style>
