---
import Layout from "../../layouts/layout.astro";
---

<Layout>
    <div id="developer" class="vh-100 p-5">
        <h1>Roadmap Analista de datos</h1>
    </div>
</Layout>

<style>
    #developer {
        margin-top: 20px;
    }
</style>
