---

---

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid bg-body-tertiary">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="nav-link active" aria-current="page" href="#">
      ¿Que quiero ser de mayor?
    </a>
    <div class="m-auto collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav text-center m-auto">
        <a class="nav-link" href="#">Developer</a>
        <a class="nav-link" href="#">Data analyst</a>
        <a class="nav-link" href="#">Cybersecurity</a>
      </div>
    </div>
  </div>
</nav>
