---

---

<main class="d-flex flex-column justify-content-center align-items-center">
    <h2>QUE QUIERO SER DE MAYOR?</h2>
    <button>
        <a class="d-block" href=""> Descubre tu futuro </a>
    </button>
</main>

<style>
    main {
        height: 100dvh;
        width: 100dvw;
    }

    h2 {
        font-family: "Ubuntu Sans Mono", monospace;
        font-size: 96px;
    }

    button {
        border: none;
    }

    a {
        font-family: "Chakra Petch", sans-serif;
        font-size: 48px;
        text-decoration: none;
    }
</style>
