---
const preziUrl = "https://prezi.com/p/embed/QTCPf1uIcNyapXymoUrm/?autoplay=1";
---
<div id="prezi">
<iframe src={preziUrl} id="iframe_container" frameborder="0"  allowfullscreen allow="autoplay; fullscreen" height="315" width="560" class="prezi-embed"></iframe>

</div>

